<h1>
  {{inline-edit-model model=model attr='title'}}
</h1>

<h5> Description</h5>
{{inline-edit-model model=model attr='description' field='textarea'}}
<h5>Docker Compose File</h5>
{{docker-compose-search model=model}}
{{link-to-external "Edit docker compose file in Stack Builder" 'stack' pipeline.dockerFile.id class='btn'}}
{{outlet}}
