<h1>
  {{model.title}}
</h1>

<h5> Description</h5>
<div class="text long">{{model.description}}</div>
<h5>Docker Compose File</h5>
<div class="text">{{model.dockerFile.title}}</div>
{{link-to-external "Edit docker compose file in Stack Builder" 'stack' model.dockerFile.id class='btn edit-drc'}}
{{outlet}}
